<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Listener.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
     <class name="tests.Testthree"/>
      <class name="tests.LogiTest"/>
      <class name="tests.Testtwo"/> 
      <class name="tests.Testfour"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
